Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a storage where a collection of data is stored and enables user to manage and manipulate the data. SQL and NoSQL are two  famous databases.

SQL databases are knowns as RDBMS because it holds the data in the form of tabular form and they are well known for their ability to handle complex queries and transactions. Some examples of SQL databases are MySQL, Oracle, Microsoft SQL Server, and PostgreSQL.

While NoSQL are new type of databases where data is stored in different forms like graph,text,document etc.They are commonly used for web applications, big data, and real-time analytics. Some examples of NoSQL databases are MongoDB, Cassandra, Redis, and Apache HBase.

Q.2 Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language and it helps to deal with the structure of the table.DDL has various commmands:

1.CREATE- It helps to create objects in the database

2.ALTER- It is used to modify the structure of existing databases such as removing/adding a coloumn.

3.DROP- It is used to delete the object from database.

4.TRUNCATE- It is used to delete all data from the table.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for  Data Maipulation Language and using this we can manipulate the data inside the table using these commands:
    
1.INSERT- This is used to  insert new data in the table.

2.UPDATE- This is used to modify existing data of the table.

3.DELETE- This is used to remove data from the table.

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language and used to perform queries on tables to retrieve specific data based on certain conditions. The most common DQL command is SELECT, which is used to retrieve data from one or more tables.

SELECT * FROM customers;

Q5. Explain Primary Key and Foreign Key.

A primary key is a column or combination of columns in a table that uniquely identifies each row in the table. It must have a unique value for each row and cannot be null.

A foreign key is a column or combination of columns in a table that refers to the primary key of another table. It is used to establish relationships between tables by linking related data.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Connect to the MySQL server
cnx = mysql.connector.connect(
    host="localhost",
    user="username",
    password="password",
    database="mydatabase"
)

# Create a cursor object
cursor = cnx.cursor()

# Execute a SELECT statement
query = "SELECT * FROM customers"
cursor.execute(query)

# Fetch the results and print them
for row in cursor.fetchall():
    print(row)

# Close the cursor and connection
cursor.close()
cnx.close()

The cursor() method creates a cursor object, which is used to execute SQL statements and fetch results. The cursor() method takes no arguments and returns a cursor object.


The execute() method is used to execute an SQL statement. It takes a single argument, which is the SQL statement to execute. The execute() method returns None if the SQL statement does not return any rows, or a cursor object if the SQL statement returns rows.

Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
FROM clause
ON clause
OUTER clause
WHERE clause
GROUP BY clause
HAVING clause
SELECT clause
DISTINCT clause
ORDER BY clause
TOP clause