## Q1. List any five functions of the pandas library with execution.

1. pd.read_csv
2. pd.to_csv
3. pd.head()
4. pd.describe()
5. pd.loc()
6. pd.iloc()

## Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [4]:
import pandas as pd
def reindex_df(df):
    num_rows = len(df)
    
    new_index = pd.Index(range(1,num_rows*2,2))
    
    df = df.reindex(new_index)
    
    return df

In [5]:
df = pd.DataFrame({'A':[1,2,3], 'B':[4,5,6],'C':[7,8,9]})
df = reindex_df(df)
print(df)

     A    B    C
1  2.0  5.0  8.0
3  NaN  NaN  NaN
5  NaN  NaN  NaN

## Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console. For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.

In [20]:
def sum_first3(df):
    score=0
    for index, row in df.iterrows():
        if index<3:
            score += row['Values']
    print("Sum of first three values: ", score)

In [21]:
import pandas as pd
df = pd.DataFrame({'Values': [10,20,30,40,50]})
sum_first3(df)

Sum of first three values:  60

## Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [15]:
def word_count(df):
    #df['Word_Count'] = df['Text'].str.split().str.len()
    df['Word_Count'] = df['Text'].apply(lambda x: len(x.split()))
    return df

In [16]:
import pandas as pd
df = pd.DataFrame({'Text': ['Hello Nikhil', 'hello my name is Nikhil', 'Hii everyone']})
df = word_count(df)
df

                      Text  Word_Count
0             Hello Nikhil           2
1  hello my name is Nikhil           5
2             Hii everyone           2

## Q5. How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size() returns the total number of elements in DataFrame.Number of rows multiplied by number of columns.

DataFrame.shape() returns a tuple showing the number of rows and columns.

In [36]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [37]:
df.size

9

In [38]:
df.shape

(3, 3)

## Q6. Which function of pandas do we use to read an excel file?

In [ ]:
df = pd.read_excel()

## Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address. The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

In [12]:
def username(df):
    df['UserName'] = df['Email'].str.split('@').str[0]
    return df

In [17]:
import pandas as pd
df = pd.DataFrame({'Email': ['nikhil@gmail.com', 'prakash@gmail.com','ramesh@gmail.com','kumar@gmail.com']})
df = username(df)
df

               Email UserName
0   nikhil@gmail.com   nikhil
1  prakash@gmail.com  prakash
2   ramesh@gmail.com   ramesh
3    kumar@gmail.com    kumar

## Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.

In [26]:
import pandas as pd
def select_rows(df):
    selected_rows = df[(df['A']>5) & (df['B']<10)]
    return selected_rows

   A  B  C
0  1  2  5
1  4  9  7
2  3  7  8
3  7  3  9

In [28]:
df = pd.DataFrame({'A':[1,9,3,7], 'B':[2,9,7,3], 'C':[5,7,8,9]})
df = select_rows(df)

df

   A  B  C
1  9  9  7
3  7  3  9

## Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [37]:
import pandas as pd
def to_calc(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std = df['Values'].std()
    
    
    print('Mean:', mean)
    print('Median:', median)
    print('Standard Deviation:', std)

In [39]:
df = pd.DataFrame({'Values':[1,9,3,7]})
df = to_calc(df)
df

Mean: 5.0
Median: 5.0
Standard Deviation: 3.6514837167011076

## Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [54]:
import pandas as pd
def mov_avg(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods =7).mean()
    return df

In [55]:
df = pd.DataFrame({'Sales':[2400,3100,1700,1650,2700,5600,4500,2300,4523,6754,4562], 'Date': pd.date_range('20230314',periods = 11)})
df = mov_avg(df)
df

    Sales       Date  MovingAverage
0    2400 2023-03-14            NaN
1    3100 2023-03-15            NaN
2    1700 2023-03-16            NaN
3    1650 2023-03-17            NaN
4    2700 2023-03-18            NaN
5    5600 2023-03-19            NaN
6    4500 2023-03-20    3092.857143
7    2300 2023-03-21    3078.571429
8    4523 2023-03-22    3281.857143
9    6754 2023-03-23    4003.857143
10   4562 2023-03-24    4419.857143

## Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.

In [81]:
import pandas as pd
def weekday(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df['WeekDay'] = df['Date'].dt.strftime('%A')
    return df

In [82]:
df = pd.DataFrame({'Date' : pd.date_range('20230310', periods = 15)})
df = weekday(df)
df

         Date    WeekDay
0  2023-03-10     Friday
1  2023-03-11   Saturday
2  2023-03-12     Sunday
3  2023-03-13     Monday
4  2023-03-14    Tuesday
5  2023-03-15  Wednesday
6  2023-03-16   Thursday
7  2023-03-17     Friday
8  2023-03-18   Saturday
9  2023-03-19     Sunday
10 2023-03-20     Monday
11 2023-03-21    Tuesday
12 2023-03-22  Wednesday
13 2023-03-23   Thursday
14 2023-03-24     Friday

## Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [92]:
import pandas as pd 
def select_row(df):
    start_date = '2023.01.01'
    end_date = '2023.01.31'
    selected_rows = df[(df['Date']>= start_date) & (df['Date'] <= end_date)]
    return selected_rows

In [98]:
df = pd.DataFrame({'Date':pd.date_range('20221224', periods= 75)})
df

         Date
0  2022-12-24
1  2022-12-25
2  2022-12-26
3  2022-12-27
4  2022-12-28
..        ...
70 2023-03-04
71 2023-03-05
72 2023-03-06
73 2023-03-07
74 2023-03-08

[75 rows x 1 columns]

In [99]:
df = select_row(df)
df

         Date
8  2023-01-01
9  2023-01-02
10 2023-01-03
11 2023-01-04
12 2023-01-05
13 2023-01-06
14 2023-01-07
15 2023-01-08
16 2023-01-09
17 2023-01-10
18 2023-01-11
19 2023-01-12
20 2023-01-13
21 2023-01-14
22 2023-01-15
23 2023-01-16
24 2023-01-17
25 2023-01-18
26 2023-01-19
27 2023-01-20
28 2023-01-21
29 2023-01-22
30 2023-01-23
31 2023-01-24
32 2023-01-25
33 2023-01-26
34 2023-01-27
35 2023-01-28
36 2023-01-29
37 2023-01-30
38 2023-01-31